* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.topnav h1 {
    display: inline-block;
}

.glow-on-hover {
    align-items: center;
    display: flex;
    justify-content: center;
    float: right;
    width: 120px;
    height: 50px;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 1vw;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#babaji {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#prediction {
    width: 100%;
    position: absolute;
    top: 22%;
    left: 13%;
    font-size: 1.2vw;
}

#container {
    position: absolute;
    width: 100%;
    top: 30%;
}

.eye-container {
    margin-right: 5.5%;
    margin-top: 1%;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 2.2vw;
    width: 2.2vw;
    background: #CCC;
}

.eye:after {
    /*pupil*/
    position: absolute;
    bottom: 1vw;
    right: 1.1vw;
    width: 1vw;
    height: 1vw;
    background: #000;
    border-radius: 50%;
    content: " ";
}

@media only screen and (max-width: 428px) {
    #babaji {
        height: 55vw;
    }
    #container {
        /*normally use body*/
        top: calc(50% - 50px);
    }
    .eye-container {
        margin-right: 9vw;
        margin-top: 1%;
    }
    .eye {
        height: 2.8vw;
        width: 2.8vw;
    }
    .eye:after {
        /*pupil*/
        width: 1.4vw;
        height: 1.4vw;
    }
}